/* Copyright 2011-2015 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/***************
 * Base States *
 **************/

.background {
    color: @text_color;

}

*:insensitive {
    text-shadow: 0 1px alpha (#000, 0.15);
    icon-shadow: 0 1px alpha (#000, 0.15);
}

*:backdrop {
    color: shade (@text_color, 0.70);
}

/*************
* Text Entry *
*************/

.entry {
    background-image: linear-gradient(to bottom,
                                  shade (@base_color, 0.8),
                                  shade (@base_color, 0.8)
                                  );

    border-color: transparent;

    box-shadow: 0 1px 0 0 alpha (#fff, 0.05);
                
    color: @text_color;

    icon-shadow: 0 1px alpha (#000, 0.4);
    text-shadow: 0 1px alpha (#000, 0.4);
}

.entry.progressbar {
    color: @selected_fg_color;
}


.titlebar .entry,
.toolbar .entry {
    background-image: 
                        linear-gradient(to bottom,
                                  shade (@titlebar_color, 0.8),
                                  shade (@titlebar_color, 0.8)
                                  );
                                  
    border-color: transparent;
    box-shadow: 0 1px 0 0 alpha (#fff, 0.05);
}

.titlebar .entry:backdrop,
.toolbar .entry:backdrop {
    background-image: 
                        linear-gradient(to bottom,
                                  shade (@titlebar_color, 0.9),
                                  shade (@titlebar_color, 0.9)
                                  );

    border-color: alpha (#000, 0.47);

    box-shadow: 
                0 1px 0 0 alpha (#fff, 0.05);
                
    color: @insensitive_fg_color;

    icon-shadow: 0 1px alpha (#000, 0.4);
    text-shadow: 0 1px alpha (#000, 0.4);
}

.header-bar .entry,
.header-bar .entry:focus,
.header-bar .entry:backdrop {
    background-image: linear-gradient(to bottom,
                                  shade (#fff, 0.9),
                                  shade (#fff, 0.9)
                                  );

    border-color:transparent;

    box-shadow:
                0 1px 0 0 alpha (#fff, 0.20);
                
    color: #333;

    icon-shadow: 0 1px alpha (#fff, 0.4);
    text-shadow: 0 1px alpha (#fff, 0.4);
}

.entry.progressbar,
.entry.progressbar:focus {
    background-image: linear-gradient(to bottom,
                                  shade (@colorAccent, 1.23),
                                  shade (@colorAccent, 1.37)
                                  );
    border-color: @colorAccent;
}

.entry:focus {
    border-color: transparent;
    box-shadow: 
                0 1px 0 0 alpha (#fff, 0.05);
}

.entry:insensitive {
    background-image: linear-gradient(to bottom,
                                  alpha (#000, 0.05),
                                  transparent 5px
                                  );
    box-shadow: 0 1px 0 0 alpha (#fff, 0.05);
}

.titlebar .entry:insensitive,
.toolbar .entry:insensitive {
    border-color: alpha (#000, 0.25);
    box-shadow: inset 0 0 0 1px @inset_dark_color,
                0 1px 0 0 alpha (#fff, 0.05);
}

.titlebar .entry:insensitive:backdrop,
.toolbar .entry:insensitive:backdrop {
    border-color: alpha (#000, 0.20);
    box-shadow: inset 0 0 0 1px @inset_dark_color_backdrop,
                0 1px 0 0 alpha (#fff, 0.05);
}

/****************
 * Progress bar *
 ****************/

.progressbar,
.level-bar.fill-block,
.level-bar.fill-block.level-low,
.level-bar.fill-block.level-middle,
.level-bar.fill-block.level-high {
    border-color: transparent;
}

.level-bar.fill-block.empty-fill-block {
    border-color: alpha (#000, 0.25);
}

.level-bar.fill-block:backdrop {
    border-color: shade (@bg_color, 0.68);
}

.level-bar.fill-block.empty-fill-block:backdrop {
    border-color: shade (@bg_color, 0.75);
}

/********
* Scale *
********/

GtkScale {
    -GtkRange-slider-width: 20;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-length: 20;
}

GtkScale.vertical {
    -GtkScale-slider-length: 20;
}

.scale {
    -GtkScale-slider-length: 20;
    -GtkRange-slider-width: 20;
    -GtkRange-trough-border: 0;

}

.scale.slider {
    border: 1px solid shade (@border_color, 0.6);
    border-radius: 10px;

    background-image: linear-gradient(to bottom,
                                  shade (@bg_color, 1),
                                  shade (@bg_color, 1)
                                  );

    box-shadow: inset 0 0 0 1px alpha (shade (@bg_color, 1.60), 0.10),
                inset 0 1px 0 0 alpha (shade (@bg_color, 1.60), 0.90),
                inset 0 -1px 0 0 alpha (shade (@bg_color, 1.60), 0.30),
                0 1px 1px alpha (#000, 0.15);
}

.scale.slider:focus {
}


.scale.slider:backdrop {
    background-image: linear-gradient(to bottom,
                                  shade (@bg_color, 1.05),
                                  shade (@bg_color, 0.95)
                                  );
                                  
    border-color: alpha (#000, 0.20);
    
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.01),
                inset 0 1px 0 0 alpha (#fff, 0.10),
                inset 0 -1px 0 0 alpha (#fff, 0.03),
                0 1px 2px alpha (#000, 0.10);
}

.titlebar .scale.slider,
.scale.slider:insensitive {
    background-image: none;
    border: none;
    box-shadow: none;
}

.scale.trough {
  margin: 6px 0 5px 0;
  border-radius: 12px;
  border-width: 0;
  border-style: solid;
  border-color: shade(@theme_bg_color, 0.8);
  background-color: shade(@theme_bg_color, 1.08);
  background-image: none;
}

.titlebar .scale.slider {
    border: none;
    border-radius: 0;
    background-color:transparent;
    background-image: none;

    box-shadow: none;
}
.titlebar .scale.trough {
    border-radius: 0 12px 12px 0;
    border-width: 1px 1px 1px 0;
}

scale.trough:insensitive {
    border-radius: 0 12px 12px 0;
    border-width: 1px 1px 1px 0;
}

.scale.trough.vertical {
    margin: 0 5px 0 6px;

    border-width: 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
}

.scale.trough.vertical:insensitive {
    border-radius: 12px 12px 0 0;
    border-width: 1px 1px 0 1px;
}

.scale.trough.vertical.bottom:insensitive {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 12px 12px;
}

.scale.mark {
    background-color: @theme_selected_bg_color;
}

.scale.highlight.left {
  border-color: @theme_selected_bg_color;
  background-color: @theme_selected_bg_color;
  background-image: none;
  color: #000;
}


.scale.highlight.left:insensitive {
  border-color: @theme_selected_bg_color;
  background-color: @theme_selected_bg_color;
  background-image: none;
  color: #000;
}

.scale.highlight.bottom {
  border-color: @theme_selected_bg_color;
  background-color: @theme_selected_bg_color;
  background-image: none;
  color: #000;
}

.scale.highlight.bottom:insensitive {
  border-color: @theme_selected_bg_color;
  background-color: @theme_selected_bg_color;
  background-image: none;
  color: #000;
}

/**********
* Buttons *
**********/

.stack-switcher .button:active,
.stack-switcher .linked .button:active,
.stack-switcher .button:checked,
.stack-switcher .linked .button:checked {
  background-image: linear-gradient(to bottom,
                              shade (@selected_bg_color, 1.30),
                             shade (@selected_bg_color, 1)
                              );

  border-color: shade (@selected_bg_color, 1);
  color:white;
  text-shadow: 0 1px alpha (#000, 0.2);
  icon-shadow: 0 1px alpha (#000, 0.2);
}

.button,
.button.menuitem.menubar,
GtkColorButton.button,
GtkComboBox.combobox-entry .button {
    padding: 3px 7px;
    -GtkButton-image-spacing: 4;
    -GtkButton-interior-focus: true;
    -GtkButton-default-border: 0;
}

.header-bar .linked .button.image-button,
.header-bar .button.image-button .linked,
.header-bar .button.image-button,
.button,
.action-bar .button.text-button {
    text-shadow: 0 1px alpha (#fff, 0.4);
    icon-shadow: 0 1px alpha (#fff, 0.4);

    background-image: linear-gradient(to bottom,
                                  title_color,
                                  title_color
                                  );

    border: 1px solid alpha (#000, 0.1);
    border-radius: 4px;

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.45),
                inset 0 -1px 0 0 alpha (#fff, 0.15),
                0 1px 0 0 alpha (#000, 0.05);

    color: @titlebar_color;

    transition: all 100ms ease-in;
}

.button:hover {
    color:@text_color;
}

.button:focus,
.button.destructive-action:focus {
    border-color: shade (@colorAccent, 0.2);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02),
                inset 0 1px 0 0 alpha (#fff, 0.07),
                inset 0 -1px 0 0 alpha (#fff, 0.01),
                0 0 2px 1px alpha (@colorAccent, 0.55);

    transition: all 100ms ease-out;
}

.button.flat,
.button.flat:backdrop {
    border-color: transparent;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

.button.flat:focus,
.button.flat:focus:hover {
  background-color: @selected_bg_color;
  color: #fff;
  text-shadow: 0 1px alpha (#000, 0.2);
  icon-shadow: 0 1px alpha (#000, 0.0);
}

.button:active,
.button:hover:active,
.button:focus:active,
.button:checked,
.button:hover:checked,
.button:focus:checked,
.popover .action-bar .button:active,
.popover .action-bar .button:hover:active,
.popover .action-bar .button:focus:active {
  background-color: #6d6b6d;
  background-image: none;
  border-color: alpha (#000, 0.2);
  color: @text_color;
  box-shadow: 0 1px 0 0 alpha (#000, 0.05);
}

.toolbar .button:active,
.toolbar .button:hover:active,
.toolbar .button:focus:active,
.toolbar .button:checked,
.toolbar .button:hover:checked,
.toolbar .button:focus:checked {
    background-color: alpha (#000, 0.10);  
    background-image: linear-gradient(to bottom,
                                  alpha (@titlebar_color, 0.10),
                                 alpha (@titlebar_color, 0.7)
                                  );    

    box-shadow: inset 0 0 0 1px alpha (#000, 0.05);
                
    border-color: alpha (#000, 0.20);
}

.button:active:insensitive {
    background-image: linear-gradient(to bottom,
                                  shade (@bg_color, 0.85),
                                  shade (@bg_color, 0.94) 20%,
                                  @bg_color
                                  );

    box-shadow: inset 0 0 0 1px alpha (#000, 0.05),
                0 1px 0 1px alpha (#fff, 0.30);

}

/*************************** 
* Secondary Toolbar Button *
***************************/

.secondary-toolbar.toolbar .button:hover {

    color: shade (@colorAccent, 0.65);

    border-color: transparent;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

.secondary-toolbar.toolbar .button:active,
.secondary-toolbar.toolbar .button:hover:active {
    background-image: none;
    background-color: alpha (#000, 0.10);
        
    box-shadow: inset 0 0 0 1px alpha (#000, 0.05),
        inset 0 1px 0 0 alpha (#000, 0.25),
        inset 0 -1px 0 0 alpha (#fff, 0.4);
}

/*****************
 * GtkSpinButton *
 *****************/

.spinbutton .button {
    color: @internal_element_color;
    padding: 2px 5px;
    border-with: 0 0 0 1px;
    box-shadow: inset 1px 0 alpha (#000, 0.10);

    background-color: #6D6B6D;
    background-image: none;
}

.spinbutton .button:first-child {
    box-shadow: none;
}

.spinbutton .button:dir(rtl) {
    box-shadow: inset -1px 0 alpha (#000, 0.10);
}

/*********
* Linked *
*********/

.linked .entry {
    box-shadow: inset -1px 0 @inset_dark_color;
}

.linked .entry:focus {
    box-shadow: inset 1px 0 @inset_dark_color,
                inset -1px 0 @inset_dark_color,
                inset 1px 2px alpha(@colorAccent, 0.1),
                inset 1px 1px alpha(@colorAccent, 0.1),
                inset -1px -1px alpha(@colorAccent, 0.2);

}

.linked .entry:focus:first-child {
    box-shadow: inset -1px 0 @inset_dark_color,
                inset 1px 2px alpha(@colorAccent, 0.1),
                inset 1px 1px alpha(@colorAccent, 0.1),
                inset -1px -1px alpha(@colorAccent, 0.2);

}

.linked .entry:focus:last-child {
    box-shadow: inset 1px 0 @inset_dark_color,
                inset 1px 2px alpha(@colorAccent, 0.1),
                inset 1px 1px alpha(@colorAccent, 0.1),
                inset -1px -1px alpha(@colorAccent, 0.2);

}

/********************
* Notebook and Tabs *
********************/

.dynamic-notebook .notebook tab:active {
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02),
                0 0 1px 1px alpha (#000, 0.05);
}

.dynamic-notebook .notebook tab:active:backdrop {
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.01),
                0 0 0 1px shade (@titlebar_color, 1);
}

.notebook {
    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);
}

.notebook tab:active {
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02),
                0 0 0 1px shade (@titlebar_color, 0.8);
}

.dynamic-notebook .notebook tab .button {
    padding: 0;
}

.dynamic-notebook .notebook tab > .button,
.dynamic-notebook .notebook tab > .button:hover,
.dynamic-notebook .notebook tab > .button:hover:active,
.notebook tab .button:hover,
.notebook tab .button:hover:active {
    padding: 0;
    background-color:   alpha (#000, 0.02);
    border-color: alpha (#000, 0.29);
}

.dynamic-notebook .notebook tab > .button:hover:active,
.notebook tab > .button:hover:active {
    background-color:   alpha (#000, 0.10);
}

/*--------------
Close button
----------------*/
.notebook tab .button.flat,
.notebook tab .button.flat:active,
.notebook tab .button,
.notebook tab .button:active {
    padding: 0;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    color: mix(@theme_text_color, @theme_base_color, 0.4);}

.notebook tab .button.flat,
.notebook tab .button {
    box-shadow:none;
  }

.notebook tab .button.flat:hover,
.notebook tab .button:hover {
    background-color: shade (@titlebar_color, 1.04);
    border: 1px solid transparent;
    transition: all 100ms ease-in;
  }

.notebook .pane-separator,
.notebook .pane-separator:hover {
    background-color: @theme_base_color;
  }

/*************
* ComboBoxes *
*************/

GtkComboBox {
    -GtkComboBox-arrow-scaling: 0.5;
    -GtkComboBox-shadow-type: none;
}

GtkComboBox.combobox-entry .entry:last-child,
GtkComboBox.combobox-entry .button:last-child {
    background-image: linear-gradient(to bottom,
                                  shade (@base_color, 0.93),
                                  shade (@base_color, 0.97)
                                  );
                                  
    box-shadow: inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
                inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
                0 1px 0 1px alpha (#fff, 0.05);
}

.toolbar GtkComboBox.combobox-entry .entry:last-child,
.toolbar GtkComboBox.combobox-entry .button:last-child {
    background-image: linear-gradient(to bottom,
                                  alpha (#000, 0.10),
                                  transparent 5px
                                  ),
                        linear-gradient(to bottom,
                                  shade (@base_color, 0.90),
                                  @base_color
                                  );
                                  
    box-shadow: inset 0 0 0 1px @inset_dark_color,
                0 1px 0 1px alpha (#fff, 0.05);
}

/*************
* Scrollbars *
*************/

.scrollbar.slider,
.scrollbar.slider:prelight,
.scrollbar.button {
    background-color: #6d6b6d;
}

/********
* Menus *
********/
GtkTreeMenu .menuitem {
    padding: 1px;
}

.context-menu {
    font: SNFS Display Thin 11px;
    text-shadow: none;
}

.content-view .menu,
.menu,
.popup {
    padding: 2px 0;
    border-radius: 4px;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                  alpha (@bg_color, 0.6),
                                  alpha (@bg_color, 0.6)
                                  );
    box-shadow: inset 0 0 0 1px alpha (@bg_highlight_color, 0.05),
                inset 0 1px 0 0 alpha (@bg_highlight_color, 6),
                inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.0);
}

.menu.button {
    background-image: none;
}

.menubar {
    color: @text_color;
    background-color: @titlebar_color;
    -GtkWidget-window-dragging: true;
}

.menubar .menuitem {
    padding: 2px 5px;

}

.expander row:selected,
.expander row:selected:focus,
.menubar *:active,
.menubar *:prelight,
.menu *:active,
.menu *:prelight,
.progressbar row,
.sidebar.view:selected {
    background-color: @selected_bg_color;
    color: @base_color;
}

.menu .menuitem,
.popover .menuitem {
    padding: 5px;
    text-shadow: none;
    icon-shadow: none;
    border-width: 1px 0;
}

/***********
* Toolbars *
***********/

GtkHandleBox:backdrop,
.toolbar:backdrop {
    box-shadow: inset 0 -1px 0 0 alpha (#fff, 0.07);
}

/*************************
 * Check and Radio items *
 *************************/

.check,
.radio,
.check:insensitive,
.radio:insensitive {
    background-color: transparent;
    border-style: none;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

.check {
    -gtk-icon-source: -gtk-scaled(url("assets/check-dark.svg"),url("assets/check@2.svg"));
    background-repeat: no-repeat;
    background-position: center;
}

.check:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/check-focus-dark.svg"),url("assets/check-focus@2.svg"));
    background-repeat: no-repeat;
    background-position: center;
}


.radio {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-dark.svg"),url("assets/radio@2.svg"));
    background-repeat: no-repeat;
    background-position: center;
}

.radio:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-focus-dark.svg"),url("assets/radio-focus@2.svg"));
    background-repeat: no-repeat;
    background-position: center;
}

.menuitem.check,
.menuitem.radio {
    background-image: none;
}


.check:active,
.check:checked,
.menuitem.check:active,
.menuitem.check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/check-active-dark.svg"),url("assets/check-active@2.svg"));
}

.check:active:focus,
.check:checked:focus,
.menuitem.check:active:focus,
.menuitem.check:checked:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/check-active-focus-dark.svg"),url("assets/check-active@2.svg"));
}

.radio:active,
.radio:checked,
.menuitem.radio:active,
.menuitem.radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-active-dark.svg"),url("assets/radio-active@2.svg"));
}

.radio:active:focus,
.radio:checked:focus,
.menuitem.radio:active:focus,
.menuitem.radio:checked:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-active-focus-dark.svg"),url("assets/radio-active-focus-dark@2.svg"));
}

/***********
* Toolbars *
***********/

.toolbar {
    box-shadow: inset 0 -1px 0 0 alpha (#fff, 0.10);

    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);
}

.toolbar .separator {
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
} 

/*********************
* Secondary Toolbars *
*********************/

.secondary-toolbar.toolbar {
    color: shade (@text_color, 0.90);   
    background-image: linear-gradient(to bottom,
                                  shade (@titlebar_color, 0.84),
                                  shade (@titlebar_color, 0.80)
                                  );

    box-shadow: inset 0 1px 0 0 alpha (#fff, 0.05),
                inset 0 -1px 0 0 alpha (#fff, 0.05);

    border-color: shade (@titlebar_color, 0.50);

    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);
}

.secondary-toolbar.toolbar .button {
    border-color: alpha (#000, 0.3);

    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);
}


/******************
* Bottom Toolbars *
******************/

.bottom-toolbar.toolbar {
    border-color: shade (@titlebar_color, 0.66);

    background-image: linear-gradient(to bottom,
                                  @titlebar_color,
                                  shade (@titlebar_color,1)
                                  );

    box-shadow: inset 0 1px 0 0 alpha (#fff, 0.12),
                inset 0 -1px 0 0 alpha (#fff, 0.05);
}

/***************
 * Action bars *
 ***************/

.action-bar {
    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.05);
}

.action-bar .button {
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

.action-bar GtkLabel {
    color: @text_color;
}

/******************
* Inline Toolbars *
******************/

.inline-toolbar.toolbar {
    border-image: none;
    border-color: shade (@titlebar_color, 0.70);

    background-image: linear-gradient(to bottom,
                                  shade (@base_color, 0.92),
                                  shade (@base_color, 0.98)
                                  );

    box-shadow: inset 0 1px 0 0 alpha (#000, 0.10),
                inset 0 -1px 0 0 @inset_dark_color;
}

GtkPaned .inline-toolbar.toolbar {
    /*FIXME: This should probably use alpha just in case */
    background-image: linear-gradient(to bottom,
                                  shade (@titlebar_color, 0.92),
                                  shade (@titlebar_color, 0.98)
                                  );
}

.inline-toolbar.toolbar .button {
    background-image: none;
    background-color: transparent;
    box-shadow: none;

    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);
}

.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:active:hover {
    background-color: alpha (#000, 0.05);
    background-image: none;

    border-color: shade (@base_color, 0.74);
}

/***************
 * Search bars *
 ***************/

EggFindBar.toolbar,
.search-bar {
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.01),
                inset 0 1px 0 0 alpha (#fff, 0.05),
                inset 0 -1px 0 0 alpha (#fff, 0.03);
}

/************************
* Sidebar & Source List *
************************/

.sidebar,
.sidebar .view,
.sidebar GtkScrolledWindow,
.source-list,
.source-list.view {
    color: shade (@text_color, 0.90);
}

.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar.view:selected:backdrop,
.sidebar.view:prelight:selected:backdrop,
.source-list,
.source-list.view,
.source-list.view:selected:backdrop,
.source-list.view:prelight:selected:backdrop {
    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);
}

.sidebar,
.source-list {
    -GtkTreeView-horizontal-separator: 1px;
    -GtkTreeView-vertical-separator: 6px;
}

.source-list.category-expander {
    color: transparent;
}
.sidebar .view:prelight,
.sidebar.view:prelight,
.source-list.view:prelight {
    background-color: shade (@bg_color, 1.10);
}

.sidebar .view:selected:hover,
.sidebar .view:hover,
.sidebar.view:selected:hover,
.sidebar.view:hover,
.source-list.view:hover,
.source-list.view:prelight:hover,
.source-list.view:focus:hover{
background-color: alpha(#000, 0.2);
    color: shade (@text_color, 1.1);
}

.sidebar .view:selected,
.sidebar .view:prelight:selected,
.sidebar.view:selected,
.sidebar.view:prelight:selected,
.source-list.view:selected,
.source-list.view:prelight:selected,
.source-list.view:focus:selected,
.source-list.category-expander:hover {

    color: shade (@text_color, 1.1);
     text-shadow: 0 1px alpha (#000, 0.6);
    icon-shadow: 0 1px alpha (#000, 0.6);

    background-color: #508ddd;
}
.sidebar .view:selected:backdrop,
.sidebar .view:prelight:selected:backdrop,
.sidebar.view:selected:backdrop,
.sidebar.view:prelight:selected:backdrop,
.source-list.view:selected:backdrop,
.source-list.view:prelight:selected:backdrop {
        background-color:alpha (#000, 0.2);
        color: shade (@text_color, 1);
     text-shadow: 0 1px alpha (#000, 0.6);
    icon-shadow: 0 1px alpha (#000, 0.6);
}

.sidebar-pane-separator,
.sidebar-pane-separator:prelight,
.sidebar-pane-separator:selected {
    background-image: none;
    background-color: shade (@bg_color, 0.75);
}

.source-list.badge,
.source-list.badge:prelight,
.source-list.badge:selected,
.source-list.badge:prelight:selected {
    background-image: none;
    background-color: alpha (#fff, 0.4);
    color: @bg_color;
    text-shadow: 0 1px alpha (#000, 0.1);
    icon-shadow: 0 1px alpha (#000, 0.1);
}

.source-list.badge:selected,
.source-list.badge:prelight:selected {
    color: @bg_color;
}

.source-list.badge:selected:backdrop,
.source-list.badge:selected:prelight:backdrop {
    background-image: none;
    background-color: alpha (#000, 0.2);
    color: shade (@bg_color, 0.95);
    text-shadow: 0 1px alpha (#000, 0.1);
    icon-shadow: 0 1px alpha (#000, 0.1);
}

/***************
 * Search bars *
 ***************/

EggFindBar.toolbar,
.search-bar {
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.01),
                inset 0 1px 0 0 alpha (#fff, 0.05),
                inset 0 -1px 0 0 alpha (#fff, 0.03);
}

/**************************
* Suggested Action Button *
**************************/

.suggested-action.button {
  background-color: #6d6b6d;
  background-image: none;
  box-shadow: inset 0 0 0 1px alpha (#000, 0.02);
}

GtkOverlay .suggested-action.button {
  background-image: none;
  background-color: #6d6b6d;
  box-shadow: inset 0 0 0 1px alpha (#000, 0.02);
}

.suggested-action.button GtkLabel,
.suggested-action.button GtkLabel:prelight {
    color: @selected_fg_color;
    text-shadow: 0 1px alpha (#000, 0.3);
    icon-shadow: 0 1px alpha (#000, 0.3);
}

.suggested-action.button:active,
.suggested-action.button:active:hover {
  background-color: #6d6b6d;
  background-image: none;
  box-shadow: inset 0 0 0 1px alpha (#000, 0.02);
}

/****************************
* Destructive Action Button *
****************************/

.destructive-action.button {
    background-image: linear-gradient(to bottom,
                                  shade (@error_color, 1.20),
                                  @error_color
                                  );

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.25),
                inset 0 -1px 0 0 alpha (#fff, 0.10),
                0 1px 0 0 alpha (#fff, 0.05);

    border-color: shade (@error_color, 0.30);
}

.destructive-action.button GtkLabel,
.destructive-action.button Gtklabel:prelight {
    color: @selected_fg_color;
    text-shadow: 0 1px alpha (#000, 0.2);
    icon-shadow: 0 1px alpha (#000, 0.2);
}

.destructive-action.button:active,
.destructive-action.button:active:hover {
    background-image: linear-gradient(to bottom,
                                  @error_color,
                                  shade (@error_color, 1.10)
                                  );

    box-shadow: inset 0 0 1px 1px alpha (#000, 0.15),
                0 1px 0 0 alpha (#fff, 0.09);

    border-color: alpha (shade (@error_color, 0.30), 0.7);
}

/*********************
* Insensitive Button *
**********************/

.button:insensitive,
.suggested-action.button:insensitive {
    background-image: none;
    background-color: transparent;
    border-color: alpha (#000, 0.20);
}

.toolbar .button:insensitive {
    background-image: linear-gradient(to bottom,
                                  alpha (#fff, 0.05),
                                  alpha (#000, 0.05)
                                  );

    border-color: alpha (#000, 0.20);
}

.suggested-action.button GtkLabel:insensitive {
    text-shadow: 0 1px alpha (#fff, 0.3);
    icon-shadow: 0 1px alpha (#fff, 0.3);
}

.titlebar .button GtkLabel:insensitive {
    color: shade (@headerbar_color, 0.60);
    text-shadow: 0 1px alpha (#fff, 0.15);
}

.spinbutton .button:insensitive,
.spinbutton .button:focus:insensitive {
    background-color: alpha (#000, 0.02);
    background-image: none;
    color: @insensitive_color;
}

.inline-toolbar.toolbar .button *:insensitive,
.inline-toolbar.toolbar .button:insensitive {
    background-image: none;
    background-color: alpha (#000, 0.02);
    color: @insensitive_color;
}

.button.flat:insensitive {
    border-color: transparent;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

/***************
* GtkAssistant *
***************/

GtkAssistant .sidebar .highlight {
    color: @fg_color;
    font: bold;
}

GtkAssistant .sidebar {
    background-color: shade (@bg_color, 0.97);
    border-color: shade (@bg_color, 0.8);
    border-style: solid;
    color: mix (@fg_color, @bg_color, 0.40);
    text-shadow: 0 1px shade (@bg_color, 1.04);
}

/*************
 * GtkSwitch *
 *************/

GtkSwitch {
     padding: 0;
     border-radius: 16px;
     font: SNFS Display 11px;
     border: 0px;
}

GtkSwitch.slider {
 	  padding: 1px;
    border-width: 0px;
     border-style: solid;
     border-color: shade(@theme_bg_color, 0.8);
     background-color: shade(@theme_bg_color, 1.08);
     background-image: none;
     box-shadow: 0px 0px 1px 1px shade(@title_color shade, 0.8);
 }

 GtkSwitch.slider:insensitive {
     border-width: 1px;
     border-color: shade(@title_color shade, 0.85);
     background-color: shade(@theme_bg_color, 0.9);
     background-image: none;
 }

 GtkSwitch.trough {
     border-color: shade(@theme_bg_color, 0.8);
     background-color: shade(@theme_bg_color, 0.95);
     background-image: none;
     color: @theme_fg_color;
 }

 GtkSwitch.trough:active {
     border-color: shade(@selected_bg_color, 0.9);
     background-color: @selected_bg_color;
     background-image: none;
     color: @theme_selected_fg_color;
 }

 GtkSwitch.trough:insensitive {
     border-color: shade(@theme_bg_color, 0.85);
     background-color: shade(@theme_bg_color, 0.9);
     background-image: none;
     color: mix(@theme_fg_color, @theme_bg_color, 0.5);
 }

GtkListBoxRow:selected,
GtkListBoxRow:selected:backdrop,
.popover GtkTreeView.view row:selected {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

GtkModelButton.button:active,
GtkModelButton.button:insensitive,
GtkModelButton.button:active:insensitive,
GtkModelButton.button {
  text-shadow: 0 1px alpha (#fff, 0.4);
  icon-shadow: 0 1px alpha (#fff, 0.4);
  background-image: linear-gradient(to bottom,
                                white,
                                white
                                );
  border: 1px solid alpha (#000, 0.1);
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
              inset 0 1px 0 0 alpha (#fff, 0.45),
              inset 0 -1px 0 0 alpha (#fff, 0.15),
              0 1px 0 0 alpha (#000, 0.05);
  color: @text_color;
  transition: all 100ms ease-in;
}

/**********************
 * Column Headers *
 *********************/
column-header .button {
    background-image: linear-gradient(to bottom,
                                  shade ( @titlebar_color, 0.88),
                                   @titlebar_color
                                  );

    border-image: linear-gradient(to bottom,
                                  shade ( @titlebar_color, 0.88),
                                  shade ( @titlebar_color, 0.70)
                                  ) 0 0 1 1;
    font: bold;
}

column-header .button:hover {
    background-image: linear-gradient(to bottom,
                                  shade ( @titlebar_color, 0.80),
                                   @titlebar_color
                                  );
}

/***********
* Expander *
***********/

.expander {
    color: @fg_color;
}

.expander row:selected,
.expander row:selected:focus {
    color: @selected_fg_color;
}

/*************
* List Boxes *
*************/

EggListBox {
    background-color: @base_color;
}

.list {
    background-color: @base_color;
}

.list-row:selected {
    background-color: @colorAccent;
}

/*************
* GtkInfoBar *
*************/
 
GtkInfoBar.info,
GtkInfoBar.question,
GtkInfoBar.warning,
GtkInfoBar.error {
    border-style: solid;
    box-shadow: inset 0 1px 0 0 alpha (#fff, 0.30),
                inset 0 -1px 0 0 alpha (#fff, 0.06);
}

GtkInfoBar.info {
    box-shadow: inset 0 1px 0 0 alpha (#fff, 0.15),
                inset 0 -1px 0 0 alpha (#fff, 0.03);
}

GtkInfoBar.info GtkLabel {
    color: @text_color;
}

GtkInfoBar.question {
    background-image: linear-gradient(to bottom,
                                  #55c1ec,
                                  #44a2e9
                                  );
    border-color: #357fb8;
}

GtkInfoBar.question GtkLabel {
    color: #004166;
}

GtkInfoBar.warning {
    background-image: linear-gradient(to bottom,
                                  #fdde76,
                                  #fbd058
                                  );
    border-color: #c09e42;
}

GtkInfoBar.warning GtkLabel {
    color: #664e00;
}

GtkInfoBar.error {
    background-image: linear-gradient(to bottom,
                                  #e35d4f,
                                  #d33f3d
                                  );
    border-color: #a2302e;
}

GtkInfoBar.error GtkLabel {
    color: #660000;
}

GtkInfoBar GtkLabel {
    icon-shadow: 0 1px alpha (#fff, 0.3);
    text-shadow: 0 1px alpha (#fff, 0.3);
}

GtkInfoBar .entry,
GtkInfoBar .menu {
    color: @text_color;
}


GtkInfoBar GtkLabel:insensitive {
    color: @insensitive_color;

}

GtkInfoBar .button,
GtkInfoBar .button:focus,
.dynamic-notebook GtkInfoBar .button {

    text-shadow: none;
    icon-shadow: none;
    
    background-image: none; 
    background-color: transparent;  

    border-color: alpha (#000, 0.3);
    
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.45),
                inset 0 -1px 0 0 alpha (#fff, 0.15),
                0 1px 0 1px alpha (#fff, 0.15);
}

GtkInfoBar .button:active,
GtkInfoBar .button:hover:active {
    background-image: none;
    background-color: alpha (#000, 0.05);
    border-color: alpha (#000, 0.35);
}

GtkInfoBar .button:insensitive,
GtkInfoBar .button:hover:insensitive {
    background-image: none;
    background-color: transparent;    

    border-color: alpha (#000, 0.18);
}

/*************************
 * touch text selections *
 *************************/
GtkBubbleWindow {
    border-radius: 2px;
    background-clip: border-box;
}

GtkBubbleWindow.osd.background {
    background-color: @osd_bg;
}

GtkBubbleWindow .toolbar {
    background-color: transparent;
}

/*******
 * CSD *
 ******/

.titlebar {

	background-image:
			linear-gradient(to bottom,
                                  alpha (@colorPrimary, 0.94),
                                  alpha (@colorPrimary, 1)
                                  );
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02),
                inset 0 1px 0 0 alpha (#fff, 0.05);

    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);

}

.header-bar .titlebutton,
.header-bar .titlebutton GtkImage,
.header-bar .titlebutton:backdrop,
GtkDialog .header-bar .titlebutton GtkImage,
GtkDialog .header-bar .titlebutton GtkImage:backdrop,


.titlebar.default-decoration .titlebutton GtkImage,

.header-bar .titlebutton GtkImage:backdrop,
.titlebar.default-decoration .titlebutton:backdrop,
.titlebar.default-decoration .titlebutton GtkImage:backdrop,
.titlebar .titlebutton:backdrop,
.titlebar .titlebutton {
    background: none;
    padding: 3px 0px 3px 0px;
    color: transparent;
    border-radius: 3px;
    border-width: 1px;
    border-color: none;
    border-style: none;
    border-image: none;
    box-shadow: none;
background-position: center;
	background-repeat: no-repeat;
}

.titlebar .title:backdrop,
.titlebar .subtitle:backdrop,

.titlebar .button.image-button GtkImage:backdrop {
    color: shade (@title_color, 0.80);
}

.window-frame {
    box-shadow: 0 0 0 1px alpha (#000, 0.45),
                0 12px 30px -6px alpha (#000, 0.80);
}

.window-frame.menu.csd,
.window-frame.popup.csd {
    box-shadow: 0 0 0 1px alpha (#000, 0.60),
                0 3px 6px alpha (#000, 0.16),
                0 3px 6px alpha (#000, 0.23);
}

.menu .window-frame.menu.csd,
.menu .window-frame.popup.csd {
    box-shadow: 0 0 0 1px alpha (#000, 0.30),
                0 10px 20px alpha (#000, 0.19),
                0 6px 6px alpha (#000, 0.23);
}

.window-frame:backdrop {
    box-shadow: 0 0 0 1px alpha (#000, 0.15),
                0 6px 10px -3px alpha (#000, 0.90);
}

/***************
 * Header Bars *
 **************/

.header-bar {



    background-image: linear-gradient(to bottom,
                                  alpha(shade (@headerbar_color, 1.04),0.92),
                                  alpha(shade (@headerbar_color, 0.84),1)
                                  );

    border-color: shade (@headerbar_color, 0.45);

    text-shadow: 0 1px alpha (#fff, 0.4);
    icon-shadow: 0 1px alpha (#fff, 0.4);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02),
                inset 0 1px 0 0 alpha (#fff, 0.05);
}

.header-bar:backdrop {
    background-image: linear-gradient(to bottom,
                              @headerbar_color,
                              shade (@headerbar_color, 0.90)
                              );
    border-color: shade (@headerbar_color, 0.60);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02);
}







.header-bar .title,
.header-bar .button,
.header-bar .button:active,
.header-bar .button:checked,
.header-bar .button.image-button GtkImage,

.header-bar > GtkLabel,
.header-bar > GtkBox GtkLabel {
    color: shade (@headerbar_color, 0.40);
    text-shadow: 0 1px alpha (#fff, 0.15);
    icon-shadow: 0 1px alpha (#fff, 0.15);
}

.header-bar .title:backdrop,
.header-bar .subtitle:backdrop,

.header-bar .button.image-button GtkImage:backdrop,
.header-bar .button:backdrop,
.header-bar .button:active:backdrop,
.header-bar .button:checked:backdrop,

.header-bar GtkLabel:backdrop {
    color: shade (@headerbar_color, 0.60);
    icon-shadow: none;
}

.header-bar .button.image-button GtkImage:insensitive {
    color: @insensitive_color;
    icon-shadow: 0 1px alpha (#fff, 0.15);
    -gtk-image-effect: dim;
}

/* Reset GtkDialog Headerbar Button Color */

GtkDialog .header-bar .title,
GtkDialog .header-bar .button,
GtkDialog .header-bar .button:active,
GtkDialog .header-bar .button.image-button GtkImage {
    color: @text_color;
    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);
}

GtkDialog .header-bar .title:backdrop,
GtkDialog .header-bar .button:backdrop,
GtkDialog .header-bar .button:active:backdrop,
GtkDialog .header-bar .button.image-button GtkImage:backdrop {
    color: shade (@text_color, 0.70);
    icon-shadow: none;
}

.titlebar .subtitle {
    color: shade (@headerbar_color, 0.30);
    text-shadow: 0 1px alpha (#fff, 0.15);
    icon-shadow: 0 1px alpha (#fff, 0.15);
}

.header-bar > GtkLabel,
.header-bar > GtkImage {
    color: shade (@text_color, 0.90);
}

.header-bar .button.image-button {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}

.header-bar .button.image-button:active,
.header-bar .button.image-button:hover:active,
.header-bar .button.image-button:focus:active {
    background-color: alpha (#000, 0.10);    

    box-shadow: inset 0 0 0 1px alpha (#000, 0.07);
                
    border-color: alpha (#000, 0.32);
}

/***************************
 * Default Decoration      *
 **************************/

.titlebar.default-decoration {
    box-shadow: inset 0 1px 0 0 alpha (#fff, 0.15);
    padding: 0px 8px 0px;
}

.titlebar.default-decoration .title,
.titlebar.default-decoration .button.image-button GtkImage {
    color: @title_color;
    text-shadow: 0 1px @title_shadow_color;
    icon-shadow: 0 1px @title_shadow_color;
}

.titlebar.default-decoration .subtitle {
    color: shade (@titlebar_color, 0.50);
    text-shadow: 0 1px @title_shadow_color;
    icon-shadow: 0 1px @title_shadow_color;
}



.titlebar.default-decoration:backdrop {
    background-image: linear-gradient(to bottom,
                                  shade (@titlebar_color, 1.10),
                                  @titlebar_color
                                  );

    box-shadow: inset 0 1px 0 0 alpha (#fff, 0.08);
}

.titlebar.default-decoration .title:backdrop,
.titlebar.default-decoration .subtitle:backdrop,

.titlebar.default-decoration .button.image-button GtkImage:backdrop {
    color: shade (@title_color, 0.80);
    text-shadow: none;
    icon-shadow: none;
}

/***************
 * Dialog      *
 ***************/

GtkDialog .titlebar,
GtkMessageDialog .titlebar,
GtkDialog .titlebar.default-decoration,
GtkMessageDialog .titlebar.default-decoration {
    background-image: linear-gradient(to bottom,
                                  shade (@bg_color, 1.2),
                                  @bg_color
                                  );

    box-shadow: inset 1px 0 0 0 alpha (#fff, 0.05),
                inset -1px 0 0 0 alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.15);
}

GtkDialog .titlebar:backdrop,
GtkMessageDialog .titlebar:backdrop,
GtkDialog .titlebar.default-decoration:backdrop,
GtkMessageDialog .titlebar.default-decoration:backdrop  {
    box-shadow: inset 1px 0 0 0 alpha (#fff, 0.05),
                inset -1px 0 0 0 alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.15);
} 

GtkDialog,
GtkMessageDialog {
    box-shadow: inset 1px 0 0 0 alpha (#fff, 0.05),
                inset -1px 0 0 0 alpha (#fff, 0.05),
                inset 0 -1px 0 0 alpha (#fff, 0.07);

}

GtkDialog.window-frame,
GtkDialog.window-frame:backdrop,
.window-frame.dialog,
.window-frame.dialog:backdrop {
    box-shadow: 0 0 0 1px alpha (#000, 0.80),
                0 10px 20px alpha (#000, 0.19),
                0 6px 6px alpha (#000, 0.23);
}

/**************
* Text Styles *
**************/

.h4,
.category-label {
    text-shadow: 0 1px alpha (#000, 0.2);
}

@import url("apps.css");
