

NoiseLibraryWindow.background {
    background-color: alpha(@bg_color, 0.94);
}

NautilusWindow.background,

RBLibrarySource.background,
ScratchMainWindow.background{
    background-color: alpha(@bg_color, 0.95);
}

NoiseLibraryWindow .titlebar {
     background-color:alpha(red,0.4);
}


/*




NoiseLibraryWindow .titlebar {
     background-image:  
 				  linear-gradient(to bottom,
                                   alpha(#e8e5e8, 0.94),
                                   alpha(#d2ced2,1)
                                   );
    border-color: shade (@colorPrimary, 0.75);
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 0 0 1px;

    text-shadow: 0 1px alpha (shade (@colorPrimary, 1.4), 0.40);
    icon-shadow: 0 1px alpha (shade (@colorPrimary, 1.4), 0.40);

    box-shadow: inset 0 0 0 1px alpha (shade (@colorPrimary, 1.4), 0.05),
                inset 0 1px 0 0 alpha (shade (@colorPrimary, 1.4), 0.20);

    padding: 0px 8px 0px;
}

NoiseLibraryWindow .header-bar:backdrop,
NoiseLibraryWindow .header-bar {
    padding: 7px 6px 5px;
}


.maximized NoiseLibraryWindow  .header-bar:backdrop,
 .tiled NoiseLibraryWindow  .titlebar:backdrop,
 .maximized NoiseLibraryWindow  .header-bar,
 .tiled NoiseLibraryWindow  .titlebar {
    padding: 3px 8px 2px;
}*/
